html, body {
    width: 100%;
    height: 100%;
}
body {
	background-color: #749B96;
	font-size: 16px;
}
h1 {
	text-align: center;
	color: #49BCB8;
}
h2 {
	color: #C4ECE6;
	font-weight: normal;
	margin-bottom: 2em;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
button, .button, input[type=submit] {
  border: 0;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
  position: relative;
}
.getStarted button {
 	background: #49BCB8;
  	color: #C4ECE6;
  	padding: 10px 20px;
  	border-radius: 10px;
  	font-weight: bold;
  	font-size: 20px;
}
.help button {
	background: none;
	border: 0;
	text-align: center;
}
.okGary {
	background-color: #78b9d5;
	color: #C4ECE6;
	margin: -1em 3.5em 0;
	padding: 10px 20px;
  	border-radius: 10px;
  	font-weight: bold;
  	font-size: 20px;
}

.questionPage {
	margin-top: 6em;
}
.questionPage h2 {
	text-align: left;
}
.question2, .question3, .question4, .question5 {
	display: none;
}
.overlay-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
}
.overlay {
    position: absolute;
    width: 31em;
    height: 18em;
    left: 0;
    right:0;
    margin: 0 auto;
    z-index: 10;
} 
.getStarted {
	border: 10px #49BCB8 solid;
	text-align: center;
	background-color: #749B96;
}
.getStarted h2 {
	padding-top: 2em;
	font-size: 2em;
}
.counterDiv {
	position:absolute; 
 	left:0;
 	font-size: 2.6em;
 	margin: 1.6em 0 0 2em;
 	color: #C4ECE6;
}
.askExpert {
	border: 10px #78b9d5 solid;
	background-color: #C4ECE6;
	display: none;
}
.askExpert h1 {
	margin-left: 1.25em;
	color: #78b9d5;
}
.askExpert img {
	float: left;
	margin: 0 0.5em 0 1.5em;
	width: 120px;
}
.friendAnswer {
	color: gray;
	text-align: left;
	font-size: 1.1em;
	line-height: 1.5;
}

.expertAnswer {
	font-weight: bold;
}
.correctAnswer {
	border: 10px #d5c378 solid;
	text-align: center;
	background-color: #78b9d5;
	border-radius: 50%;
	display: none;
}
.correctAnswer h2, .wrongAnswer h2 {
	padding: .6em 0;
	margin-top: 1.5em;
	font-size: 2.5em;
}
.correctAnswer i, .wrongAnswer i {
	margin-top: -2em;
}
.wrongAnswer {
	text-align: center;
	border: 10px  #9A3F3E solid;
	text-align: center;
	background-color: #78b9d5;
	border-radius: 50%;
	display: none;
}
.answerDiv li {
	display: table-cell;
}
.question {
	width: 30em;
	margin: 0 auto;
}
.questionNumber {
	width: 22em;
	margin: 2em auto 1em auto;
}
.questionNumber li {
	display: inline-block;
	margin-left: 1em;
}
.questionNumber i {
	margin: 0;
}
.questionNumber p {
	margin: 0 0 0.2em 0;
	text-align: center;
	color: #49BCB8;
	font-size: 2em;
	border: #49BCB8 solid;
	border-radius: 10px;
	padding: 0.2em;
}
.q1, .q2, .q3, .q4 {
	display: none;
}
.fa-trophy {
	color: #d5c378;
 	margin: 0.5em
}
.fa-thumbs-o-down {
	color: #9A3F3E;
	margin: 0.5em;
}
.help { 
 	position:absolute; 
 	right:0;
	display: block;
	margin: 7em 5em 0;
}
.help h2 {
	margin: 0 0 0.5em 0;
	color: #78b9d5;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}
.help p {
	color: #78b9d5;
	text-align: center;
	margin: 0 0;
}
.help i {
	color:#78b9d5;
}

.usedLifeLine i, .usedLifeLine p {
	color: #9A3F3E;
}
.answerBox:hover {
	background-color: #9A3F3E;
}
.answerDiv {
	width: 32em;
	height: 7em;
	margin: 0 auto;
	overflow: auto;
}
.answerBox {
	width: 15em;
	height: 2em;
	background-color: #78D5C3;
	margin: 0.25em;
	color: #C4ECE6;
}
.answerDiv button {
	background: none;
	text-align: left;
}
.letter {
	font-size: 1.5em;
	color: #49BCB8;
	margin: 0.5em 0.5em;
}
.gameOver {
	border: 10px #49BCB8 solid;
	text-align: center;
	background-color: #749B96;
	display:none;
}
.gameOver h1 {
	margin-top: 2em;
	color: #9A3F3E;
}
.gameOver p {
	font-size: 1.5em;
	color: #C4ECE6;
}

